<div class="container text-center mt-4">
    <h1>Displaying All Users</h1>
    <% @users.each do |user|%>
        <div class="card text-center mb-5">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= user.username%></h5>
                <p class="card-title"><%= user.email%></p>
                <%= link_to "Show", user_path(user),class:"btn btn-dark btn-block"%>
                <% if logged_in? && (user==current_user || current_user.admin?)%>
                    <%= link_to "Edit", edit_user_path(user),class:"btn btn-dark btn-block"%>
                    <%= link_to "Delete", user_path(user),data:{method: :delete},class:"btn btn-dark btn-block"%>
                <%end%>
            </div>
            <div class="card-footer text-muted">
                <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
            </div>
        </div>
    <%end%>
</div>